<h3>Все детали поста</h3>

<p>
	Добавлено: <%= @row['created_date'] %>
	<br><br>
	<%= @row['content'] %>
	<br>
	

</p>



<form action ='/details/<%= @row["id"] %>' method='POST'>

	<label>Введите комментарий</label>
	<textarea class="form-control" rows="3" placeholder="Введите комментарий" name="content"></textarea>
	<br>

	<button type="submit" class="btn btn-primary">Добавить комментарий</button>
</form>

<h4>Комментарии:</h4>

<% @comments.each do |comment| %>
	
	<hr>
	<p>
		<%= comment['content'] %><br>
		<span style="color: grey; font-size: 70%;">Добавлено: <%= @row['created_date'] %></span>
		

	</p>

<% end %>